.block-container {
    display: block;
    height: 100%;
    border-right: 1px solid rgb(209 213 219);
}

.container {
    position: sticky;
    top: 0;
    display: block;
    box-sizing: border-box;
    width: 16rem;
    margin: 0;
}

.preference-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(209 213 219);
    padding: 1rem 2rem;
}

.preference-header {
    text-transform: uppercase;
    padding: 0;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1rem;
    color: rgb(0, 0, 0);
}

.schedule-input-container {
    flex: 1;
    margin-top: .25rem;
}

.schedule-label {
    font-size: .75rem;
    line-height: 1rem;
    color: rgb(0, 0, 0);
}

.difficulty-checkboxes-container {
    flex: 1;
    margin-top: .25rem;
}

.difficulty-label {
    text-transform: capitalize;
    font-weight: 500;
    margin-left: .75rem;
    font-size: .875rem;
    line-height: 1;
}

.topics-indicator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .25rem;
    padding: 0;
    width: 100%;
    font-size: .75rem;
    color: rgb(0, 0, 0);
}

.topics-indicator button {
    border: none;
    padding: 0;
    background-color: inherit;
    color: rgb(79, 70, 229);
    text-decoration: underline;
}

.topics-indicator button:hover {
    border: none;
}

.topics-indicator button:active {
    border: none;
} 

.topics-indicator button:focus {
    border: none;
    outline: none;
}